.grofarms-nav > li {
  padding: 10px
}
.jumbotron h1 {
	font-size: 60px;
	font-weight: bold;
  margin-top: 25px;
}
.faq-area {
	padding: 10px;
}
.faq-area > button{
	width: 100%;
	text-align: left;
	padding: 5px;
}
.calendar-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.brand > img {
  max-height: 23px;
}
.carousel .item > img {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .masthead h1 {
    font-size: 45px;
  }
}
@media (max-width: 480px) {
  .masthead h1 {
    font-size: 35px;
  }
}
iframe {
  max-width: 400px;
}
section {
  padding-top: 45px;
}
#mapimglink:hover {
  border: none;
  text-decoration: none;
}
#mapimg {
  max-width: 600px;
  max-height: 400px;
  min-height: 100px;
  min-width: 150px;
  width: 100%;
}